{% extends 'core/base.html' %}


{% block intitle %}BioGames{% endblock %}

{% block inbody %}


<div class="container-fluid text-center gy-5">
    <h1>
        ☣BLOODY CELL☣
    </h1>
    <h6>
        ¡Compite con tus amigos y vean quien es el mejor!
    </h6>
</div>

<br>

<div class="container-fluid text-center gy-5">


    <h6>Eres una célula que busca sobrevivir, consume ATP para <b>ganar puntaje</b> <br> y esquiva los <b>virus y
            bacterias</b> para <b>no morir</b>!!</h6>


</div>

<br>
<br>

<div class="container-fluid text-center">

    <h2>Objetos del juego</h2>
    <br>
    <ul class="list-group">
        {% load static %}
        <li class="list-group-item">
            <b>ATP</b> (te da 1 punto): <br>
            <img width="50" src="{% static 'core/atp.png' %}" alt="">
        </li>
        <li class="list-group-item">
            <b>Bacteria bacillus</b> (quita 2 puntos): <br>
            <img width="70" src="{% static 'core/bacillus.png' %}" alt="">
        </li>
        <li class="list-group-item">
            <b>Bacteria estreptococos</b> (quita 1 punto): <br>
            <img width="90" src="{% static 'core/estreptococo.png' %}" alt="">
        </li>
    </ul>
</div>

<br>
<br>

<div class="container-fluid text-center">
    <a class="btn btn-primary" href="{% url 'bloodycell' %}">
        <h3>Ir a Jugar</h3>
    </a>
</div>

<br>
<br>
<br>

{% endblock %}