{% extends 'core/base.html' %}


{% block intitle %}Ranking{% endblock %}

{% block inbody %}

<div class="container-fluid text-center">
    <h1 style="font-size: 4rem;">
        ¡Ranking BioGames!
    </h1>
    <br>
    <h6 style="font-size: 2.4rem;">
        TOP 10 MEJORES JUGADORES!
    </h6>
</div>

<br><br>

<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Estudiante</th>
                <th scope="col">Curso</th>
                <th scope="col">Puntaje</th>
                <th scope="col">Fecha y Hora</th>
            </tr>
        </thead>
        <tbody>
            {% for entry in object_list %}
            <tr>
                <th scope="row">{{forloop.counter}}</th>
                <td>{{entry.student}}</td>
                <td>{{entry.grade}}</td>
                <td>{{entry.score}}</td>
                <td>{{entry.date_time}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<br><br>

<div class="container-fluid text-center">
    <a class="btn btn-primary" href="{% url 'bloodycell' %}#gameCanvas">
        <h5>Volver a jugar!</h5>
    </a>
</div>
{% endblock %}